{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="row">
    {% for recipe in recipes %}
    <div class="col-md-2 mb-4">
        <div class="card p-2 h-100">
            <img src="{{ recipe.image.url }}" class="card-img-top" alt="{{ recipe.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ recipe.title }}</h5>
                <p class="card-text">Время приготовления: {{ recipe.preparation_time }}</p>
                <p class="card-text">Автор: {{ recipe.author }}</p>
            </div>
            <div class="bottom text-center pb-2">
                <a href="{% url 'recipe_detail' recipe.id %}" class="btn btn-primary">Подробнее</a>
            </div>
            <div class="bottom text-center pb-2">
                <a href="{% url 'recipe_restore' recipe.id %}" class="btn btn-primary">Восстановить</a>
            </div>
        </div>
    </div>
    {% if forloop.counter|divisibleby:6 and not forloop.last %}
</div><div class="row">{% endif %}
    {% endfor %}

    {% if title == 'Мои рецепты' %}
    <a href="{% url 'my_deleted_recipes' %}" class="btn btn-danger mx-auto">Удалённые рецепты</a>
    {% endif %}

</div>
{% endblock %}
