{% extends 'base.html' %}

{% block title %}Информация о клиенте{% endblock %}

{% block content %}
    <h1>Информация о клиенте</h1>
    {% if client.is_deleted %}
        <h2>Клиент удален!</h2>
    {% endif %}
    <table border="1">
        <tr>
            <th>Аватар</th>
        {% if client.avatar %}
            <td><img src="{{ client.avatar.url }}" alt="{{ client.name }}" width="100"></td>
        {% else %}
            <td>Отсутствует</td>
        {% endif %}
        </tr>
        <tr>
          <th>ID</th>
          <td>{{ client.id }}</td>
        </tr>
        <tr>
            <th>Имя</th>
            <td>{{ client.name }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ client.email }}</td>
        </tr>
        <tr>
            <th>Телефон</th>
            <td>{{ client.phone }}</td>
        </tr>
        <tr>
            <th>Адрес</th>
            <td>{{ client.address }}</td>
        </tr>
        <tr>
            <th>Дата создания</th>
            <td>{{ client.created_at }}</td>
        </tr>
    </table>
    <a href="{% url 'edit_client' client.id %}">Редактировать</a>
    <h3><a href="{% url 'get_product_order_statistics' client.id %}">Статистика по заказам</a></h3>
{% endblock %}
