{% extends 'base.html' %}

{% block title %}Подробности заказа №{{ order.id }}{% endblock %}

{% block content %}
    <h1>Подробности заказа #{{ order.id }}</h1>
    {% if order.is_deleted %}
        <p>УДАЛЕН</p>
    {% endif %}
    <table border="1">
        <tr>
            <th>ID</th>
            <td>{{ order.id }}</td>
        </tr>
        <tr>
            <th>Дата создания</th>
            <td>{{ order.created_at }}</td>
        </tr>
        <tr>
            <th>Клиент</th>
            <td><a href="{% url 'get_client_by_id' order.client.id %}">{{ order.client.name }}</a></td>
        </tr>
        <tr>
            <th>Товары</th>
            <td>
                <ul>
                    {% for order_item in order.orderitem_set.all %}
                    <li>
                        <a href="{% url 'get_product_by_id' order_item.product.id %}">{{ order_item.product.name }}</a>
                        - {{ order_item.quantity }} шт.
                    </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <th>Сумма</th>
            <td>{{ order.total_price }}$</td>
        </tr>
    </table>
{% endblock %}
